doctype html
html
    head
        title #{title}
        script(src="/js/jquery-3.3.1.min.js")
        script(src="/js/js.cookie.min.js")
        script(src="/js/main.js")
        link(rel="stylesheet",href="/css/styleadmin.css",type="text/css")

    body
        block content